.trending {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #1C3554;
    margin-bottom: 0;
}

.enter {
    background: #F72585;
    border-radius: 8px;
    width: 167px;
    height: 48px;
    border: none;
    margin-top: 56px;
    margin-left: 249px;
}

.all {
    color: white;
}

.list {
    background-color: white;
    font-size: 16px;
    color: #AAAAAA;
    width: 74px;
    height: 32px;
    margin-right: 102px ;
    margin-left: 70.5px;
    margin-top: 64px;
    border: none;
}